.Exhibit {
    background-color: lightslategray;
    border-radius: 50px;
    color: white;
    text-align: center;
    float: left;
    margin: 25px;
    padding: 50px;
    border: black 1px dashed;
}

.ExhibitHeading {
    font-size: 18px;
    text-align: center;
}

.ExhibitItems {
    padding: 1vw 1vw 1vw 1vw;
    text-align: center;
}
